$color-primary:red;
$color-terziary:green;
$color-secondary:blue;
div{
    border: 1px solid $color-primary;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    h1{
        color: $color-terziary;
        text-align: center;
        text-decoration: underline $color-secondary;
    }
    section{
        display: flex;
        
    }
    article:nth-child(odd){
        border: 1px solid $color-terziary;
        color: $color-secondary;
        padding: 10px;
        text-align: center;
    }
    article:nth-child(even){
        border: 1px solid $color-terziary;
        color: $color-primary;
        padding: 10px;
        text-align: center;
    }

    }
